.app{
  width: 100vmax;
  display: flex;
  flex-direction: column;
}
.navbar{
  background-color: rgb(50, 127, 127);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.links{
  display: flex;

}
.link{
  margin-left: 10px;
}
.search{
  height: 25px;
}


.parent{
  padding: 20px;
  height: 58vh;
  background-color: #bbbbbb;
}


.child{
  width: 90%;
  height: 70%;
  display: block;
  margin: auto;
  background-color: #8282f2;
}


.lobo-estepario{
  background-color: beige;
  color: black;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-right: 10px;
}


.lobo{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}