*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 4rem;
    background-color: grey;
}

.error {
    color: red;

}

.render{
    border: 2px solid black;
    border-radius: 5px;
}